<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="ydlwO58qHnZaxoIBLrAewnNuz"/>
    <add key="ConsumerSecret" value="YXx6ne29yuNnU4JoFmMHG3fUQkrjvtpMzo48kXtHJGAbrziZlU"/>
    <add key="Token" value="2289720668-1LqZBLrevWsb0V9xXl1UInrdi6ht4x7BzqPqqNS"/>
    <add key="TokenSecret" value="S6rg0y4MmM4OX9Dwb5wm4actGYSAtoYUNZ8Mm8K9eILtn"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>